@font-face {
  font-family: 'Signika';
  src:('./font/Signika-Regular.ttf');
}

* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
  padding: 0;
  font-family: Signika;
}

body {
  min-height: 100vh;
}